{% extends 'base.html' %}
<html>
<head>
<title>Textbook Review!</title>
</head>
<div class="nav-left">
    <h1><a href="{% url 'home' %}">Textbook Review</a></h1>
    </div>
    <div class="nav-right">
    <a href="{% url 'post_new' %}">+ Add New Review</a>
    </div>
{% block content %}
{% block title %} Reviews{% endblock title %}
{% for post in object_list %}
<body>
<div>
<header>
<div>
    <a href = "{% url 'post_detail' post.pk %}"> <h1>{{ post.title }} </h1></a>
    <h2> {{ post.bookname }} </h2>
    <p> {{ post.body }} </p>
    <p> - {{ post.author }} </p>
</div>
</header>
</div>
</body>
{% endfor %}
{% endblock content %}
</html>
